# Python stuff
*.pyc
__pycache__/*

# Images
*.png
plots/*

# Profiling
*.prof

# Documentation
docs/_build/*
docs/_templates/*
docs/notebooks/.ipynb_checkpoints/*

# Packaging
dist/*
statmorph.egg-info/*

# PyCharm stuff
.idea

# Other, custom
*.sh
notebooks/.ipynb_checkpoints/*
