# Python stuff
*.pyc
__pycache__/*

# Images
*.png
plots/*

# Profiling
*.prof

# Documentation
docs/_build/*
docs/_static/*
docs/_templates/*

# Packaging
dist/*
statmorph.egg-info/*

# Other, custom
*.sh
notebooks/.ipynb_checkpoints/*
